<div data-role="view" data-title="Orders" data-layout="main" data-model="app.result" data-show="app.result.onShow" data-after-show="app.result.afterShow">
    <!-- START_CUSTOM_CODE_result -->
    <!-- END_CUSTOM_CODE_result -->
    <!--  Certain features like grouping and inset styling are not supported when endless scroll is enabled. -->
    <ul data-role="listview" data-style="inset" data-template="resultModelTemplate" data-bind="{ source: resultModel.orderDataSource, events: {click: resultModel.itemClick}}" data-pull-to-refresh="true" >
    </ul>
    <!-- START_CUSTOM_CODE_resultModel -->
    <!-- END_CUSTOM_CODE_resultModel -->
    <script type="text/x-kendo-template" id="resultModelTemplate">
        <div class="image-with-text">
           
            <a data-bind="click : navigateToBooking" data-transition="slide">#: data.order_id # </a>

        </div>
    </script>
</div>