<div data-role="view" data-title="Book slot" data-layout="main" data-model="app.search" data-show="app.search.onShow" data-after-show="app.search.afterShow">
    <div id="searchModel" class="form-view">
        <form>
            <ul class="form-content" data-role="listview" data-style="inset">
                <li>
                    <label>Quote of the day
                        <input data-bind="value: searchModel.fields.quote" placeholder="Quote" type="text">
                    </label>
                </li>
                <li>
                    <label>Recent
                        <select data-bind="value: searchModel.fields.dropdownlist" data-role="dropdownlist">
                            <option value="First Option">First Option</option>
                            <option value="Second Option">Second Option</option>
                            <option value="Third Option">Third Option</option>
                        </select>
                    </label>
                </li>
                <li>
                    <label>Search
                        <input data-bind="value: searchModel.fields.search1" placeholder="Search" type="search">
                    </label>
                </li>
                <li>
                    <label>Date
                        <input data-bind="value: searchModel.fields.date" type="date">
                    </label>
                </li>
                <li>
                    <label>Time
                        <input data-bind="value: searchModel.fields.time" type="time">
                    </label>
                </li>
            </ul>

            <div class="button-group">
                <a data-role="button" data-bind="events: { click: searchModel.cancel }">Back</a>
                <a class="primary" data-role="button" data-bind="events: { click: searchModel.submit }">Book</a>
            </div>
        </form>
        <!-- START_CUSTOM_CODE_searchModel -->
        <!-- END_CUSTOM_CODE_searchModel -->
    </div>
    <!-- START_CUSTOM_CODE_search -->
    <!-- END_CUSTOM_CODE_search -->
</div>