<div data-role="view" data-title="Home" data-layout="main" data-model="home.models.locations" >
    <!-- START_CUSTOM_CODE_home -->
    <ul data-role="listview" data-style="inset">
                <li>
                    
                    <input  data-role="text"  placeholder="Location" autofocus data-bind="value :searchLocation"/>
                    <button data-role="button" data-bind="events:{click:loadLocationData}">Search</button>
        </li></ul>
    
    <ul data-role="listview" data-style="inset" data-template="locationsTemplate" data-bind="source: locationDataSource" data-pull-to-refresh="true" >
    </ul>
    
    <!-- END_CUSTOM_CODE_home -->
    <!--  Certain features like grouping and inset styling are not supported when endless scroll is enabled. -->
    <!--data-role="listview" data-style="" data-template="homeModelTemplate" data-bind="{ source: locationData, events: {click: homeModel.itemClick}}" data-pull-to-refresh="true" data-endless-scroll="true">
    </ul>-->
    <!-- START_CUSTOM_CODE_homeModel -->
    <!-- END_CUSTOM_CODE_homeModel -->
    <script type="text/x-kendo-template" id="locationsTemplate">
        <a data-bind="click : navigateToBooking" data-transition="slide">#: data.name # </a>
    </script>
</div>